.bp3-portal
{
	z-index: 2000!important;	
}
/* LANDING */
.landing-help-article
{
	max-width:600px;
	width:100%;
	padding:15px;
}
.landing-help-a-title
{
	font-size:1.9em;
	font-weight:bold;
	margin-top:23px;
	margin-bottom:13px;
	font-family: Yanone Kaffeesatz;
}
.landing-help-a-content img
{
	max-width:600px;
	height:auto;
}
.landing-help-a-content blockquote
{
	background:#00000005;
	padding: 12px;
	border: 0 solid #00000010;
	border-left-width: 5px;
}
.landing-help-a-content blockquote p
{
	margin-bottom:2px;
	font-size:0.9em; 
}
.landing-help-a-content h1
{
    font-size: 1.1em;
    font-weight: 700;
    font-family: Open Sans, sans-serif;
    margin-top: 2em;
}

.bp3-tab.tab_hidden
{
	display:none;
}
.landing-section-dummy
{
	position:relative;
	width:100%;
	height:400px;
	border: 2px dashed #111;
}
.landing-section-container
{
	position:relative;
}
.landing-section-dilimiter
{
	width:100%; 
	position:relative; 
    display: flex;
    justify-content: center;
}
.landing-section
{
	position:relative;
	background-size:cover; 
    display: flex;
    flex-direction: column;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
    overflow-x: hidden;
    overflow-y: hidden;
}
.landing-section.fixed
{
	z-index: 200;
    position: fixed;
    top: 0;
    width: 100%;
}

.landing-section.add-float:before
{
	content:""; 
	outline: 3px dotted red;
    z-index: 200;
    outline-offset: -3px;
	position:absolute;
	width:100%;
	height:100%;
	cursor: crosshair;
}
.landing-section.add-float:after
{
	content:"Set position and size of float"; 
    z-index: 210;
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-100px;
	background-color:darkred;
	color:#FFF;
	padding:1px 10px;
}
.landing-section-grid,
.landing-section-grid-vertical,
.landing-section-grid-left
{
	display:none;
	position:relative;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	border:2px dotted #FF000099;
	pointer-events: none;
	z-index:110;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
.landing-section-grid-vertical
{
	border-top-color:transparent;
	border-bottom-color:transparent;
	border-left:2px dotted #FF000099;
	border-right:2px dotted #FF000099; 
}
.landing-section-grid-left
{
	border: none;
	border-right:2px dotted #FF000099; 
	width:0px;
}
.landing-section-container:hover .landing-section-grid,
.landing-section-container:hover .landing-section-grid-left,
.landing-section-container:hover .landing-section-grid-vertical
{
	display:flex;
}
.edit-button
{
	height: 100px; 
	padding:10px 25px;
	min-width:100px;
    max-height: 100px;
    flex: 1 100px;
}
.tool-palette
{
	position: absolute;   
	opacity:0;
	left: -105px;          
	z-index:350;
	width: 110px;
	display: flex;
    flex-wrap: wrap;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	transform: translateX(0);
}
.landing-section-container:hover > .tool-palette
{
	transform:translateX(100px);
	opacity:1;
}
.section-tool-btn
{
	width: 36px;
    height: 36px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 0;
    box-shadow: none!important;
}
.landing-outer
{
	z-index:2100;
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:#00000033;
	padding:40px;

}
.landing-outer-container
{
	position: fixed;
    top: 20px;
    left: 20px;
    max-width: calc(100% - 40px)!important;
    height: calc(100% - 40px);
    background: #EEE;
    margin: 0;
}
.landing-outer-close
{
	position:fixed;
	top:20px;
	left:20px;
	width:30px;
	height:30px;
	background-color: red;
	color:#FFF;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items: center;
}
.new-float-rect
{
	display:flex;
    justify-content: center;
	position:absolute;
    z-index: 3;
	border:1px solid #FF0000AA;
	background-image:url(../img/ui-bg_diagonals_40x40.png); 
}
.landing-sector__edit
{
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 220;  
	display: flex;
}
.landing-sector__params
{
	position: absolute;
    top: 3px;
    right: 3px;
    z-index: 110;   
	display: flex;
}
.landing-section-container:hover > .landing-sector__edit, 
.landing-section-container:active > .landing-sector__edit,
.landing-section-container:hover > .landing-sector__params, 
.landing-section-container:active > .landing-sector__params
{
	display: flex;
} 
.landing-container
{
	flex-grow:1000;
    flex-direction: row;
}
.landing-container-left-field,
.landing-container-right-field
{
	flex-grow:1;
    position: relative;
    display: flex;
}
.landing-container-left-field > div,
.landing-container-right-field > div
{
	min-width: 100%;
	min-height:100%;
	position: absolute;
}
.landing-container > .container
{
    position: relative;
	flex-grow:1000;
    margin: 0;
    padding: 0;
}

.landing-container .landing-section-container .landing-sector__edit-btn
{
	display:none;
	width: 200px;
	-webkit-transition: width 400ms ease-out;
	-moz-transition: width 400ms ease-out;
	-ms-transition: width 400ms ease-out;
	-o-transition: width 400ms ease-out;
	transition: width 400ms ease-out;
}
.landing-container .landing-section-container:hover .landing-sector__edit-btn
{
	display:inline-flex;
}

.landing-upd-cont
{
	overflow: hidden;
	-webkit-transition: all 350ms ease-out;
	-moz-transition: all 350ms ease-out;
	-ms-transition: all 350ms ease-out;
	-o-transition: all 350ms ease-out;
	transition: all 350ms ease-out;
}
.landing-container.closed .landing-sector__edit-btn
{
	display:inline-flex;
	width:0px;
}
.landing-section__bg,
.landing-section_img_bg
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-position:center;
	background-size:cover;
	min-width: 600px;
	background-attachment: unset;
}
.shadow
{
	-webkit-box-shadow:inset 0 6px 12px 1px rgba(00,00,00,10);
	box-shadow:inset 0 6px 12px 1px rgba(00,00,00,10);
}
.landind-edit-cont
{
	position: fixed;
    top: 0;
    right: 40px;
    background: #00000099;
    z-index: 2000;
    padding: 9px;
    display: flex;
}
.landing-container__horisontal,
.landing-container__horisontal_reverse, 
.landing-container__vertical,
.landing-container__vertical_reverse
{
	display:flex;	
    height: 100%;
	position: relative;	
    flex-direction: row;
}
.landing-container__horisontal_reverse
{
	flex-direction: row-reverse;
}
.landing-container__vertical
{
	flex-direction: column;
	height: auto;
}
.landing-container__vertical_reverse
{
	flex-direction: column-reverse;
	height: auto;
}

.landing-title-descr
{
	width: 100%;
    display: flex;
    flex-direction: column;
	position:relative;
	justify-content: center;
}
.landing-container__vertical .landing-title-descr
{
	min-height: 0;
}
.landing-title
{
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.9rem;
	padding: 10px 20px 2px 20px;
	width:100%;  
}
.landing-description
{
	font-size:1rem;
	font-weight:500;
	padding: 0px 20px 20px 20px;
	width:100%; 
	position:relative;
}
.landing-title > span, 
.landing-title-descr > span
{
	
}

.landing-title > span, 
.landing-title-descr > span,
.landing-description > span
{ 
	position:relative;
    line-height: 1.6;
}

.landing-element
{
	width:100%;
}
.l-inline-edit-btn
{
	position:absolute;
	top:-15px;
	right:-17px;
	width:30px;
	height:30px;
	background-color:#db3737;
	color:#FFF;
	cursor:pointer;
	display: flex;
	justify-content:center;
	align-items:center;
    z-index: 10;
}
.lacol-0 .l-col,
.lacol-1 .l-col
{
	width:100%;
}
.lacol-2 .l-col
{
	width:50%;
}
.lacol-3 .l-col
{
	width:33%;
}
.lacol-4 .l-col
{
	width:25%;
}
.lacol-5 .l-col
{
	width:20%;
}
.lacol-6 .l-col
{
	width:16.6666%;
}
.lacol-7 .l-col
{
	width:14.2857%;
}
.lacol-8 .l-col
{
	width:12.5%;
}
.lacol-9 .l-col
{
	width:11.1111%;
}
.lacol-10 .l-col
{
	width:10%;
}
.lacol-11 .l-col
{
	width:9.09.09%;
}
.lacol-12 .l-col
{
	width:8.3333%;
}
.lacol-13 .l-col
{
	width:7.6923%;
}
.landing-carousel
{
	width:calc(100% - 5px);
	position: relative;
}
.landing-carousel-container
{
	outline:none!important;
	position: relative;
}
.landing-image
{
	max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
	margin:0;
    position: relative;
}
.landing-team 
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.landing-team .ava
{
	width: 200px;
    height: 200px;
    margin: 10px auto 20px auto;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
	position:relative;
}
.landing-team .name
{
	display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 900;
	margin-bottom:12px;
}
.landing-team .description
{
	display: flex;
    justify-content: center;
    font-size: 1.0rem;
    flex-direction: column;
    align-items: center;
}

.landing-team .description p
{
	margin:0;
	padding:0;
}
.landing-motivation 
{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}
.landing-motivation .motivation-element
{
	padding: 20px;
	padding-bottom: 50px;
	
}
.landing-motivation .thumbnail
{
	width: 70px;
    height: 70px;
    margin: 10px auto 20px auto; 
    background-size: cover;
	background-repeat:no-repeat;
    background-position: center;
    text-align: center;
}
.landing-motivation .thumbnail.little
{
	width: 40px;
    height: 40px;
	
}
.landing-motivation .thumbnail.large
{
	width: 120px;
    height: 120px;
	
}
.landing-motivation .thumbnail.giant
{
	width: 200px;
    height: 200px;
	
}
.landing-motivation .thumbnail.round_line_contoure
{
	border:1px solid #111;
    background-size: 40%;
	-webkit-border-radius:100%;
	border-radius:100%;
	-moz-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	-o-transform: scale(1.8);
	-ms-transform: scale(1.8);
	transform: scale(1.8);
	margin-top : 15%;
	margin-bottom : 15%;
	
}
.landing-motivation .thumbnail.round_fill_contoure
{
	background-color: #FFF;
    background-size: 40%;
	-webkit-border-radius:100%;
	border-radius:100%;
	-moz-transform: scale(1.8);
	-webkit-transform: scale(1.8);
	-o-transform: scale(1.8);
	-ms-transform: scale(1.8);
	transform: scale(1.8);
	margin-top : 15%;
	margin-bottom : 15%;
	
}
.landing-motivation .thumbnail.square
{
	
}
.landing-motivation .thumbnail.round
{
	-webkit-border-radius:100%;
	border-radius:100%;
}
.landing-motivation .thumbnail.fill
{
	width:100%;
}

.landing-motivation .title
{
	display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 900;
	margin-bottom:12px; 
}
.landing-motivation .description
{
	display: flex;
    justify-content: center;
    font-size: 1.0rem;
    flex-direction: column;
    align-items: center; 
}

.landing-motivation .description p
{
	margin:0;
	padding:0;
}
.owl-dots
{
	height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    position: absolute;
    width: 100%;
    bottom: -5px;
}


.owl-dot
{
	cursor: pointer; 
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 5px;
    width: 20px;
    height: 20px;
    background: #AAA;
	position:relative;
}
.owl-dot.active
{	
    background: #FFF;
}
.owl-dot:before
{
	content: "";
    position: absolute;
    top: -5px;
    left: -14px;
    width: 45px;
    height: 30px;
    background: #000;
    z-index: 1;	
}
.owl-dot:first-of-type:before
{
	border-top-left-radius: 12%;
	-moz-transform: skewX(-14deg) skewY(0deg);
	-webkit-transform: skewX(-14deg) skewY(0deg);
	-o-transform: skewX(-14deg) skewY(0deg);
	-ms-transform: skewX(-14deg) skewY(0deg);
	transform: skewX(-14deg) skewY(0deg);
}
.owl-dot:last-of-type:before
{
	border-top-right-radius: 12%; 
	-moz-transform: skewX(14deg) skewY(0deg);
	-webkit-transform: skewX(14deg) skewY(0deg);
	-o-transform: skewX(14deg) skewY(0deg);
	-ms-transform: skewX(14deg) skewY(0deg);
	transform: skewX(14deg) skewY(0deg);
}
.owl-dot:after
{
	content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    background: #AAA;
    z-index: 2;
	-webkit-border-radius:12%;
	border-radius:12%;
}

.owl-dot.active:after
{
	content:"";
	background: rgb(250, 81, 185);
}



.owldarkdots .owl-dot
{
	 background: #EEE;
}
.owldarkdots .owl-dot:before
{
	background: #EEE;
}

.roundeddots .owl-dots
{
	 bottom: 0px;
}
.roundeddots .owl-dot,
.transparentdots .owl-dot,
.transparentdots .owl-dot:before
{
	background: transparent;
}
.roundeddots .owl-dot:after
{
	-webkit-border-radius:50%;
	border-radius:50%;
}
.roundeddots .owl-dot:before,
.roundeddots .owl-dot:first-of-type:before,
.roundeddots .owl-dot:last-of-type:before
{ 
	-moz-transform: skewX(0deg) skewY(0deg);
	-webkit-transform: skewX(0deg) skewY(0deg);
	-o-transform: skewX(0deg) skewY(0deg);
	-ms-transform: skewX(0deg) skewY(0deg);
	transform: skewX(0deg) skewY(0deg);
}
.roundeddots .owl-dot:first-of-type:before
{
	-webkit-border-radius:20px 0 0 20px;
	border-radius:20px 0 0 20px;
	left: -5px;
}
.roundeddots .owl-dot:last-of-type:before
{
	border-radius:0 20px 20px 0;
	-webkit-border-radius:0 20px 20px 0;
    width: 40px;	
}

.owl-nav
{
	position: absolute;
    top: 50%;
	z-index:0;
	width: 100%;
}
.owl-carousel .owl-nav .owl-prev, 
.owl-carousel .owl-nav .owl-next
{
	position: absolute;
    width: 50px;
    height: 50px;	 
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1; 
	font-size: 0.1rem;	
}

.owl-carousel .owl-nav .owl-prev:before
{
	content:"\f053";
	width: 50px;
    height: 50px;
	font-size: 35px;
    z-index: 50;
    font-size: 35px;
    color: #111;
    background-color: #EEE;
    position: absolute;
    padding: 8px;
    text-align: center;
}	
.owl-carousel .owl-nav .owl-next:before
{
	content:"\f054";
	width: 50px;
    height: 50px;
	right:0;
	font-size: 35px;
    z-index: 50;
    font-size: 35px;
    color: #111;
    background-color: #EEE;
    position: absolute;
    padding: 8px;
    text-align: center;
}
.owl-carousel .owl-nav .owl-next
{
	right:0;
}


.owllight .owl-carousel .owl-nav .owl-prev:before
{
	color: #EEE;
	background-color: #111;
}
.owllight .owl-carousel .owl-nav .owl-next:before
{
	color: #EEE;
	background-color: #111;
}


.arrowsed .owl-carousel .owl-nav .owl-prev:before
{
	content:"\f060";
}
.arrowsed .owl-carousel .owl-nav .owl-next:before
{
	content:"\f061";
}

.caret .owl-carousel .owl-nav .owl-prev:before
{
	content:"\f0d9";
}
.caret .owl-carousel .owl-nav .owl-next:before
{
	content:"\f0da";
}

.hand .owl-carousel .owl-nav .owl-prev:before
{
	content:"\f0a5";
}
.hand .owl-carousel .owl-nav .owl-next:before
{
	content:"\f0a4";
}

.double-angle .owl-carousel .owl-nav .owl-prev:before
{
	content:"\f100";
}
.double-angle .owl-carousel .owl-nav .owl-next:before
{
	content:"\f101";
}

.half_rounded .owl-carousel .owl-nav .owl-prev:before
{
	border-radius:0 50% 50% 0;
	padding: 16px;
    width: 70px;
    height: 70px;
}	
.half_rounded .owl-carousel .owl-nav .owl-next:before
{
	border-radius:50% 0 0 50%;
	padding: 16px;
    width: 70px;
    height: 70px;
} 

.rounded .owl-carousel .owl-nav .owl-prev:before, 
.rounded .owl-carousel .owl-nav .owl-next:before
{
	border-radius:100%;
} 
.rounded .owl-carousel .owl-nav .owl-next:before
{ 
	right:20px;
}
.rounded .owl-carousel .owl-nav .owl-prev:before
{ 
	left:20px;
}

.add-attr-btn
{
	min-width:140px;
}
.transparent .owl-carousel .owl-nav .owl-prev:before, 
.transparent .owl-carousel .owl-nav .owl-next:before
{
	background-color: transparent;
} 
.landing-feed-thumb-dark
{
	position:relative;
	background-size: cover;
	background-position: center;
	padding:10;
}
.landing-feed-thumb-dark::before
{
	content:"";
	position:absolute;
	bottom: -2px;
	left:0;
	width:100%;
	height:calc(100% + 2px);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 43%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 43%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 43%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.landing-feed-thumb-dark:hover::before
{
	content:""; 
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 43%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.landing-quote
{
	padding:130px 20px;
	position:relative;
	color:#FFF;
	text-align:center;
	max-width:600px;
	margin:0 auto; 
	display: flex;
    flex-direction: column;
}
.landing-quote .text
{
	font-size:1.3rem;
	line-height:1.5;
	margin-bottom:20px;
	position:relative;
}
.landing-quote .name
{
	font-size:1.4rem; 
	text-align:center;
	font-weight:bold;
	margin-bottom:0px;
	position:relative;
}
.landing-quote .description
{ 
	position:relative;
}
.landing-quote .landing-quote-thumbnail
{
	width: 150px;
	height:150px;
	border-radius: 150px;
	background-size:cover;
	background-position: center;
	margin: 0 auto 10px;
	border:1px solid #00000033;
}
.landing-drawer-bg
{
	opacity:0.25;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
}
.landing-quote:before
{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 25px;
    left: 70%;
    margin-left: -15px;
	background-image:url(../img/quote-start.svg);
	opacity:0.75;
	fill:#FFF;
}
.landing-quote:after
{
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 25px;
    left: 30%;
    margin-left: -15px;
	background-image:url(../img/quote-finish.svg);
	opacity:0.75;
	fill:#FFF;
}
.landing-testanomial
{
    display: flex;
    flex-direction: column;
	margin: 40px auto;
	max-width:650px;
}
.landing-testanomial .text
{
	padding: 40px;
    display: flex;
    flex-grow: 100;
    justify-self: center;
    align-items: center;
    color: #111;
    background: #FFF;
    margin: 0 20px 5px 20px;
    font-weight: 500;
    font-size: 14px;
    min-height: 155px;
    position: relative;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}
.landing-testanomial .text:before
{
    content: "";
    position: absolute;
    left: 120px;
    bottom: -20px;
    border: 20px solid transparent; 
    border-left: 20px solid #FFF;
    z-index: 1;
}
.landing-testanomial .avatar
{
	width: 120px;
    height: 120px;
    min-width: 120px;
    margin: 10px 20px 5px 25px;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #FFF;
}
.ltest-cont
{
	display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.ltest-cont .name
{
	font-weight:bold;
	font-size:1.1rem;
}

.landing-social-likes
{
    display: flex;
    justify-content: center;
	position:relative;	
	min-height:50px;
	padding:5px;
}
.landing-social-likes .react-share__ShareButton
{
	margin:5px;
	opacity:0.75;
	-webkit-transition: opacity 200ms ease-in;
	-moz-transition: opacity 200ms ease-in;
	-ms-transition: opacity 200ms ease-in;
	-o-transition: opacity 200ms ease-in;
	transition: opacity 200ms ease-in;
}
.landing-social-likes .react-share__ShareButton:hover
{ 
	opacity:1;
}

.landing-social-likes .social-likes__widget
{
    -webkit-border-radius: 3px!important; 
    border-radius: 3px!important;
    border: none!important;
	min-width: 40px;
    height: 60px;
}
.landing-social-likes .social-likes__widget.little_rounded
{
    -webkit-border-radius: 100%!important; 
    border-radius: 100%!important;
    height: 30px;
    min-width: 30px;
}
.landing-social-likes .social-likes__widget.little_rounded
.landing-social-likes .social-likes__widget.little_rounded .social-likes__counter_single, 
.landing-social-likes .social-likes__widget.little_rounded .social-likes_ready .social-likes__counter 
{
    display: inline-block;
    position: absolute;
    bottom: -25px;
    left: 0;
    text-align: center;
    width: 100%;
    border: none;
    color: #999;
}
.landing-social-likes .social-likes__button 
{
    padding: 10px;
    font-weight: 400;
    border-right: 0;
    min-width: 40px;
    height: 60px;
}
.landing-social-likes .little_rounded .social-likes__button
{
	min-width: 22px;
    width: 22px; 
}

.landing-social-likes .little_rounded .social-likes__icon
{
	width:  22px;
    height: 30px;
    font-size: 1.2rem;
}
.landing-social-likes .social-likes__icon_facebook, 
.landing-social-likes .social-likes__icon_twitter,
.landing-social-likes .social-likes__icon_mailru,
.landing-social-likes .social-likes__icon_odnoklassniki,
.landing-social-likes .social-likes__icon_vkontakte,
.landing-social-likes .social-likes__icon_youtube,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_facebook, 
.landing-social-likes .social-likes__widget:hover .social-likes__icon_twitter,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_mailru,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_odnoklassniki,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_vkontakte,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_youtube
{ 
    font-family: "Font Awesome 5 Brands";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-flex;
    justify-content: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-size: 2rem;
    position: relative;
	background-image:none!important;
}
.landing-social-likes .little_rounded .social-likes__icon, 
.landing-social-likes .little_rounded.social-likes__widget:hover .social-likes__icon
{
	font-size: 1.2rem;
}

.landing-social-likes .social-likes__icon_mailru,
.landing-social-likes .social-likes__widget:hover .social-likes__icon_mailru
{
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}
.landing-social-likes .social-likes__icon_facebook:before,
.landing-social-likes .social-likes__icon_youtube:before,
.landing-social-likes .social-likes__icon_twitter:before,
.landing-social-likes .social-likes__icon_mailru:before,
.landing-social-likes .social-likes__icon_vkontakte:before,
.landing-social-likes .social-likes__icon_odnoklassniki:before
{
	content: "\f39e";
	min-width: 40px;
    text-align: center; 
}

.landing-social-likes .little_rounded .social-likes__icon_facebook:before,
.landing-social-likes .little_rounded .social-likes__icon_youtube:before,
.landing-social-likes .little_rounded .social-likes__icon_twitter:before,
.landing-social-likes .little_rounded .social-likes__icon_mailru:before,
.landing-social-likes .little_rounded .social-likes__icon_vkontakte:before,
.landing-social-likes .little_rounded .social-likes__icon_odnoklassniki:before
{
	min-width: 22px;
}


.landing-social-likes .social-likes__icon_twitter:before
{
	content: "\f099"; 
}
.landing-social-likes .social-likes__icon_mailru:before
{
	
	content: "\f1fa"; 
}
.landing-social-likes .social-likes__icon_odnoklassniki:before
{
	content: "\f263"; 
}
.landing-social-likes .social-likes__icon_vkontakte:before
{
	content: "\f189"; 
}
.landing-social-likes .social-likes__icon_youtube:before
{
	content: "\f167"; 
}
.landing-social-likes .little_rounded
{
	width: 30px;
    height: 30px;
    background-color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
	margin: 1px;
	-webkit-border-radius:100%;
	border-radius:100%;
}
.landing-social-likes .little_rounded .social-likes__icon
{
	display:flex;    
	height: auto;
}
.landing-social-likes .little_rounded .social-likes__button
{
	padding:0;
	height: 30px;
    display: flex;
    align-items: center;
}
.landing-social-likes .little_rounded .social-likes__button:before
{
	display:none;
}

.landing-social-likes .big_square
{
	width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEE;
	margin:1px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.landing-social-likes .big_square:hover,
.landing-social-likes .little_rounded:hover
{
	color:#000;
	background-color:#AAA;
}
.landing-social-likes .big_square .social-likes__button .social-likes__icon:before
{
	position: relative;
}

.landing-html
{
	width:100%;
}
.landing-yandex-map
{
	width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.landing-video
{
	min-width:400px;
	min-height:300px;
}
.landing-vk
{

}
.landing-vk-group
{
	min-height:100px;
	width:100%;
}
.vimeo
{
	width: 100%;
    height: 100%;
}
.w-200
{
	width:200%!important;
}
.w-300
{
	width:300%!important;
}
.h-200
{
	height:200%!important;
}
.h-300
{
	height:300%!important;
}
.h-30px
{
	height:30px;
}
.w-30px
{
	width:30px!important;
}
.w-300px
{
	width:300px!important;
}
.w-50px
{
	width:50px!important;
}
.w-60px
{
	width:60px!important;
}
.columns-1
{
	-moz-column-count: 1;
	-moz-column-gap: 30px;
	-webkit-column-count: 1;
	-webkit-column-gap: 30px;
	column-count: 1;
	column-gap: 0px;
}
.columns-2
{
	-moz-column-count: 2;
	-moz-column-gap: 30px;
	-webkit-column-count: 2;
	-webkit-column-gap: 30px;
	column-count: 2;
	column-gap: 0px;
}
.columns-3
{
	-moz-column-count: 3;
	-moz-column-gap: 30px;
	-webkit-column-count: 3;
	-webkit-column-gap: 30px;
	column-count: 3;
	column-gap: 0px;
}
.columns-4
{
	-moz-column-count: 4;
	-moz-column-gap: 30px;
	-webkit-column-count: 4;
	-webkit-column-gap: 30px;
	column-count: 4;
	column-gap: 0px;
}
.columns-5
{
	-moz-column-count: 5;
	-moz-column-gap: 30px;
	-webkit-column-count: 5;
	-webkit-column-gap: 30px;
	column-count: 5;
	column-gap: 0px;
}
.columns-6
{
	-moz-column-count: 6;
	-moz-column-gap: 30px;
	-webkit-column-count: 6;
	-webkit-column-gap: 30px;
	column-count: 6;
	column-gap: 0px;
}
.columns-7
{
	-moz-column-count: 7;
	-moz-column-gap: 30px;
	-webkit-column-count: 7;
	-webkit-column-gap: 30px;
	column-count: 7;
	column-gap: 0px;
}
.columns-8
{
	-moz-column-count: 8;
	-moz-column-gap: 30px;
	-webkit-column-count: 8;
	-webkit-column-gap: 30px;
	column-count: 8;
	column-gap: 0px;
}
.columns-9
{
	-moz-column-count: 9;
	-moz-column-gap: 30px;
	-webkit-column-count: 9;
	-webkit-column-gap: 30px;
	column-count: 9;
	column-gap: 0px;
}
.columns-10
{
	-moz-column-count: 10;
	-moz-column-gap: 30px;
	-webkit-column-count: 10;
	-webkit-column-gap: 30px;
	column-count: 10;
	column-gap: 0px;
}
.columns-11
{
	-moz-column-count: 11;
	-moz-column-gap: 30px;
	-webkit-column-count: 11;
	-webkit-column-gap: 30px;
	column-count: 11;
	column-gap: 0px;
}
.columns-12
{
	-moz-column-count: 12;
	-moz-column-gap: 30px;
	-webkit-column-count: 12;
	-webkit-column-gap: 30px;
	column-count: 12;
	column-gap: 0px;
}
.columns-13
{
	-moz-column-count: 13;
	-moz-column-gap: 30px;
	-webkit-column-count: 13;
	-webkit-column-gap: 30px;
	column-count: 13;
	column-gap: 0px;
}
.layout-icon
{
	display: flex;
    justify-content: center;
}
.layout-icon svg
{
	width : 35px;
	height : 35px;
	margin: 0px 0;
	fill : #777;
}
.layout-icon-minimal svg
{
	width : 20px;
	height : 20px; 
	fill : #FFF;
}
.layout-icon-giant svg
{
	width : 80px;
	height : 80px; 
	fill : #FFF;
}


.layout-icon.dark svg,
.layout-icon-minimal.dark svg,
.layout-icon-giant.dark svg
{
	fill:#111;
}
.layout-icon-giant.grey svg,
.layout-icon-minimal.grey svg,
.layout-icon.grey svg
{
	fill:#666;
}
.layout-icon-giant.white svg,
.layout-icon.white svg
{
	fill:#FFF;
}

.l-icon, 
.l-icon-little, 
.l-icon-gian
{
	padding:10px;
	margin: 3px;
	font-size:0.65rem;
	text-align:center;
	width:90px;
    display: inline-flex;
    flex-direction: column;
	position:relative;
	cursor:pointer;
}
.l-icon-gian
{
	width:100px;
}
.l-icon-little
{
	width: 60px;
    padding: 0 10px;
    margin: 0;
}
.l-icon.active,  
.l-icon-gian.active
{
	
}
.l-icon-little:hover
{
	background-color:#CCC;
} 
.l-icon-little:active
{
	background-color:#BBB;
} 
.l-icon-little.active 
{
	background-color:#DDD;

}
.l-icon.active:before, 
.l-icon-gian.active:before
{
	content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #666;
    border-left: 2px solid #666;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    -webkit-border-radius: 6px 0 0 0px;
    border-radius: 6px 0 0 0px;
    margin: 0;
    position: absolute;
    left: 0px;
    top: -5px;
	
}
.l-icon.active:after,  
.l-icon-gian.active:after
{
    content: "";
    width: 20px;
    height: 20px;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.l-icon.active > div:before,  
.l-icon-gian.active > div:before
{
	content: "";
    width: 20px;
    height: 20px;
    border-top: 2px solid #666;
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 2px solid #666;
    -webkit-border-radius: 0 6px 0 0px;
    border-radius: 0 6px 0 0px;
    margin: 0;
    position: absolute;
    right: 0px;
    top: -5px;
	
}
.l-icon.active > div:after,  
.l-icon-gian.active > div:after
{
    content: "";
    width: 20px;
    height: 20px;
    border-top: 0px solid transparent;
    border-left: 2px solid #666;
    border-bottom: 2px solid #666;
    border-right: 0px solid transparent;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
    margin: 0;
    position: absolute;
    left : 0;
    bottom: 0px;
}
.landing-empty
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
	max-height:300px;
	background-color:#AAAAAA80;
	border:1px solid #AAA;
	color:#AAA;
	font-size:1.3rem;
}

.l-icon.active .layout-icon svg
{
	fill : #000;
}
.bp3-heading
{
	font-family:sans-serif!important;
}
.landing-padding-icon
{
	display: flex;
    justify-content: center;
    align-items: center;
	font-size: 2rem;
    padding: 18px;
    width: 100%;
}
.tab-light-head > .bp3-tab-list
{
	padding:20px;
	background:#FFF;
}
.tab-params
{
	flex-direction: row-reverse;
}
.tab-params > .bp3-tab-panel
{
	width: 100%;
}
.tab-params > .bp3-tab-list
{
	padding-top:50px;
}
.tab-params > .bp3-tab-list > .bp3-tab
{
	width: 80px!important;
    height: 50px!important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
	background:transparent!important;
	opacity: 0.5;
	overflow: unset!important;
}
.tab-params > .bp3-tab-list > .bp3-tab:hover
{
	opacity: 1;
}
.tab-params > .bp3-tab-list > .bp3-tab > div
{
	display: inline-flex;
    flex-direction: column;
	justify-content:center;
	align-items: center;
}
.tab-params > .bp3-tab-list > .bp3-tab > div > div
{ 
    line-height: 1.3;
	max-width: 76px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.landing-columns,
.landing-rows,
.landing-cards
{
	display:flex;	
    flex-wrap: wrap;
}
.landing-rows,
.landing-cards
{
	flex-direction:row;
}
.landing-cards
{
	justify-content:center;
}

.landing-card-cont
{
	margin:0;
	padding:3px;
	width: 25%; 
}
.landing-card
{ 
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	margin:0px;
	position:relative;
    display: flex;
    flex-direction: column;
}
.landing-card-title
{
	font-weight:100;
	font-size:1.9rem;
	text-align:center;
	padding: 24px;
	background-color:#DDD;
}
.landing-motivation-link-cont
{
	padding:10px;
	display:flex;
	justify-content:center;
}
.landing-card:hover > .landing-card-title
{
	background-color:#CCC;
}

.landing-card-field
{
	text-align:center;
	padding: 0px; 
	min-height:0px;
	padding:5px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	position:relative;	
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	z-index:2;
}
.landing-card-field:after
{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%; 
	z-index: -1;
}
/* title variant */
.string2.landing-card-field,
.empty2.landing-card-field
{
    position: absolute;
    z-index: 100;
    padding: 0px; 
}

.string2.landing-card-field > .before,
.empty2.landing-card-field > .before
{
	background-color: transparent!important;
    border: 70px solid transparent;
    border-left: 70px solid transparent;
    border-top: 70px solid transparent;
    height: 0;
    width: 0;
    max-width: 0;
    max-height: 0;
    /* position: relative; */
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 100; */
    padding: 0px;
    color: #FFF;
}

.string2.landing-card-field.landing-card-variant_param_13,
.empty2.landing-card-field.landing-card-variant_param_13
{
	background-color: transparent!important;
	left: auto;
	right: 0;
}

.string2.landing-card-field.landing-card-variant_param_11  > .before,
.string2.landing-card-field.landing-card-variant_param_13  > .before,
.empty2.landing-card-field.landing-card-variant_param_11  > .before,
.empty2.landing-card-field.landing-card-variant_param_13  > .before
{
	left: auto;
	right: 0;
}
.string2.landing-card-field > .string,
.empty2.landing-card-field > .string
{
	width: 60px;
    text-align: left;
    position: absolute;
    top: 0;
    left: 10px;
}
.string2.landing-card-field.landing-card-variant_param_11 > .string,
.string2.landing-card-field.landing-card-variant_param_13 > .string,
.empty2.landing-card-field.landing-card-variant_param_11 > .string,
.empty2.landing-card-field.landing-card-variant_param_13 > .string
{
	left: auto;
	right: 10px;	
    display: flex;
    align-items: flex-end;
	justify-content: flex-end;
}

/* kernel variant */
.string6.landing-card-field,
.empty6.landing-card-field
{
	background-color: transparent!important;
	height: 200px;
}
.string6.landing-card-field > .before,
.empty6.landing-card-field > .before
{
	width: 180px;
    height: 180px;
    background-color: #DDD;
    position: absolute;
    border-radius: 100%;
}
.string6.landing-card-field.landing-card-variant_param_12 > .before2,  
.empty6.landing-card-field.landing-card-variant_param_12 > .before2  
{
    width: 200px;
    height: 200px;
    background-color: transparent;
    position: absolute;
    border-radius: 100%;
    border: 5px solid transparent;
    border-right-color: #DDD;
}
.string6.landing-card-field > .string,
.empty6.landing-card-field > .string
{
	z-index:10;
}
.string6.landing-card-field.landing-card-variant_param_12 > .after,
.empty6.landing-card-field.landing-card-variant_param_12 > .after
{
	position: absolute;
    width: calc(50% - 80px);
    height: 2px;
    left: calc(50% + 98px);
    background-color: #DDD;
}
.string6.landing-card-field.landing-card-variant_param_12 > .after2,
.empty6.landing-card-field.landing-card-variant_param_12 > .after2
{
	content:"";
	position: absolute;
    width: calc(50% + 30px);
    height: 2px;
    right: 50%;
    background-color: #DDD;
}
.string6.landing-card-field.landing-card-variant_param_13,
.empty6.landing-card-field.landing-card-variant_param_13
{
	margin: 60px 0px;
	height: 200px;
}
.string6.landing-card-field.landing-card-variant_param_13 > .before,
.empty6.landing-card-field.landing-card-variant_param_13 > .before
{
	background-color: #FFF;
    height: 160px;
    width: 160px;
    border: 40px solid rgb(69, 117, 134);
}
.landing-card-cont .string6.landing-card-field.landing-card-variant_param_13 > .before2,
.landing-card-cont .empty6.landing-card-field.landing-card-variant_param_13 > .before2
{
	height: 260px;
    width: 260px;
    position: absolute;
    border-radius: 100%;
    border: 40px solid transparent;
    border-top-color: rgb(69, 117, 134);
    transform: rotate(-45deg);
}
.landing-card-cont:nth-of-type( 2n ) .string6.landing-card-field.landing-card-variant_param_13 > .before2,
.landing-card-cont:nth-of-type( 2n ) .empty6.landing-card-field.landing-card-variant_param_13 > .before2
{
	transform: rotate( -135deg );
} 
.string6.landing-card-field.landing-card-variant_param_13 > .after,
.empty6.landing-card-field.landing-card-variant_param_13 > .after 
{
    left: 0;
    position: absolute;
    width: calc(50% - 90px);
    height: 40px;
    background-color: rgb(69, 117, 134);
}
.string6.landing-card-field.landing-card-variant_param_13 > .after2, 
.empty6.landing-card-field.landing-card-variant_param_13 > .after2 
{
    right: -6px;
    position: absolute;
    width: calc(50% - 60px + 6px);
    height: 40px;
    background-color: rgb(69, 117, 134);
}
.string6.landing-card-field.landing-card-variant_param_13 > .after3,
.empty6.landing-card-field.landing-card-variant_param_13 > .after3
{
	height: 260px;
    width: 260px;
    position: absolute;
    border-radius: 100%;
    border: 40px solid transparent;
    border-top-color: rgb(69, 117, 134);
    transform: rotate( 135deg );
	display:none;
}


.landing-card-field:last-of-type
{
	border-bottom:1px dotted transparent;
}
.landing-card-field.empty
{
	padding:0;
	border:none;
}

.landing-card-field.media0,
.landing-card-field.media1,
.landing-card-field.media2,
.landing-card-field.media3
{
	padding:0;
    overflow: hidden;
}

.landing-card-field.media0 .after,
.landing-card-field.media1 .after,
.landing-card-field.media2 .after,
.landing-card-field.media3 .after,
.landing-card-field.media4 .after,
.landing-card-field.media5 .after,
.landing-card-field.media6 .after 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.landing-card-field.media1
{
	min-height:0;
	height:0;
	padding:0;
    overflow: visible;	
	border:none!important;
	height:0!important;
	z-index:3;
}
.navv
{
	display: flex;
	justify-content: center;
    align-items: center;
    padding: 1px 10px;
}
.landing-card-field.string1,
.landing-card-field.empty1
{
	font-weight: 500;
    font-size: 1.31rem;
    text-align: center;
    padding: 16px;
    min-height: 20px;
	position:relative;
	overflow:hidden;
}
.landing-card > .landing-card-field.string1 > .string,
.landing-card > .landing-card-field.empty1 > .string
{
	font-weight: 500;
    font-size: 1.3em;
    text-align: center; 
}

.landing-card-field.string2,
.landing-card-field.empty2
{
	background-color: transparent!important;
	font-weight:500;
	font-size:1.1rem;
	width:100%;
}

/* in admin's Input form */
.row.dat .landing-card-field.string2,
.row.dat .landing-card-field.empty2
{
	top: 0%; 
}
.landing-card-field.string2.landing-card-variant_param_10 .string,
.landing-card-field.empty2.landing-card-variant_param_10 .string
{
	justify-content: flex-start;
    align-items: flex-start;
}
.landing-card-field.string2.landing-card-variant_param_12 .string,
.landing-card-field.empty2.landing-card-variant_param_12 .string
{
	justify-content: flex-start;
    align-items: flex-end;
} 
.landing-card-field.string2.landing-card-variant_param_2true .string,
.landing-card-field.empty2.landing-card-variant_param_2true .string
{
	top:auto;
	bottom:0;
}
.landing-card-field.string3,
.landing-card-field.empty3
{
    font-weight: 100;
    font-size: 0.9rem;
    padding: 12px; 
    left: -20px;
    border-radius: 0!important;
    width: calc(100% + 20px); 
	-webkit-box-shadow: 2px 4px 9px 1px rgba(00,00,00,.22);
	box-shadow: 2px 4px 9px 1px rgba(00,00,00,.22);
}
.landing-card-field.string3 > .before.
.landing-card-field.empty3 > .before
{ 
	position: absolute;
    border-radius: 0!important;
    bottom: -20px;
    width: 0;
    height: 0;
    max-width: 0px;
    max-height: 20px;
    border: 10px solid transparent;
    left: 0;
    border-top-color: #DDD;
    border-right-color: #DDD;
    border-bottom-color: transparent;
    border-left-color: transparent;

}
.landing-card-field.string3 > .before:before,
.landing-card-field.empty3 > .before:before
{ 
    content: "";
    position: absolute;
    border-radius: 0!important;
    bottom: -20px;
    width: 0;
    height: 0;
    max-width: 0px;
    max-height: 20px;
    border: 9px solid transparent;
    left: -0px;
    border-top-color: #00000066;
    border-right-color: #00000066;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.landing-card-field.string4,
.landing-card-field.empty4
{
	background-color: transparent!important;
}
.landing-card-field.string4 .string,
.landing-card-field.empty4 .string
{
	z-index:5;
}
.landing-card-field.string4 > .before,
.landing-card-field.empty4 > .before
{
	position: absolute;
    width: calc(100% + 94px);
    height: calc(100% + 60px);
    left: 0;
    background-color: #67a1f6;
    clip-path: polygon(0 30px, calc(100% - 80px) 30px, calc(100% - 80px) 0, 100% 50%, calc(100% - 80px) 100%, calc(100% - 80px) calc(100% - 28px), 0% calc(100% - 28px));
	z-index:1;
}
.landing-card-field.string4 > .after,
.landing-card-field.empty4 > .after
{
	position: absolute;
    width: calc(100% + 94px);
    height: calc(100% + 60px);
    left: 0;
    clip-path: polygon(0 30px, calc(100% - 80px) 30px, calc(100% - 80px) 0, 100% 50%, calc(100% - 80px) 100%, calc(100% - 80px) calc(100% - 28px), 0% calc(100% - 28px));
	background: -moz-linear-gradient(right,  rgba(0,0,0,0) 61%, rgba(0,0,0,0.06) 78%, rgba(0,0,0,0.06) 79%);
	background: -webkit-linear-gradient(right,  rgba(0,0,0,0) 61%,rgba(0,0,0,0.06) 78%,rgba(0,0,0,0.06) 79%);
	background: linear-gradient(to left,  rgba(0,0,0,0) 61%,rgba(0,0,0,0.06) 78%,rgba(0,0,0,0.06) 79%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#54000000',GradientType=1 );
	z-index:20;
}

.landing-card-field > .string,
.landing-card-field > .empty
{
	word-break: break-word;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.landing-card-field > .media
{
	width:100%;
	height:100%; 
	background-size: cover;
	background-position:center center;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-ms-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;
} 
.landing-card-field.media1 > .media
{
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%!important;
    border-radius: 100%!important;
    z-index: 100;	
}
.landing-card:hover > .landing-card-field.media1 > .media
{
	top: -52px;
    left: 50%;
	margin-left: -52px;
    width: 104px;
    height: 104px;
}

.landing-card-field.media2
{
	
}
.landing-card-field.media3
{
	border-radius: 0;
}


.landing-card-field > .price
{
	
	display: flex;
	align-items:flex-end;
	position:relative;
	font-size:inherit;
}

.landing-card-field > .price.old-price
{ 
	opacity: 0.5;
	font-size: .75em;
	position: relative;
}
.landing-card-field > .price.old-price::before
{
	content:"";
	position:absolute;
	top:50%;
	left:-3px;
	width: calc(100% + 6px);
	height: 1px;
	background-color: #FF0000;

}
.landing-card-field > .price.price0,
.landing-card-field > .price.price1
{
	
	display: flex;
	align-items: center;
}
.landing-card-field > .price.price0 > .nominal
{
	font-size: 2.0em;
	font-weight: 700;
	line-height: 1;
}
.landing-card-field > .price.price0 > .mini-nominal
{
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1; 
	position:relative;	
}
.landing-card-field > .price.price0 > .mini-nominal::after
{
	content:"";
	position:absolute;
	bottom:0;
	background-color:#777;
	width:100%;
	height:2px;
	left:0;
}
.landing-card-field > .price.price0  > .currency_label
{
	font-size: 2.0em;
	font-weight: 700; 
	margin: 0 25px;
}

.landing-card-field > .price.price1 > .nominal
{
	font-size: 2.0em;
	font-weight: 900;
	line-height: 1;
}
.landing-card-field > .price.price1 > .mini-nominal
{
	font-size: 1.7em;
	font-weight: 500;
	line-height: 1; 
}
.landing-card-field > .price.price1  > .currency_label
{
	font-size: 2.0em;
	font-weight: 100;
	margin: 0 5px;
}

.landing-card-field > .price.price2 > .nominal
{
	font-size: 2.8em;
	font-weight: 900;
	line-height: 1;
}
.landing-card-field > .price.price2 > .mini-nominal
{
	position: absolute;
    top: -9px;
    right: 0;
    font-size: 2.0em;
    font-weight: 500;
}
.landing-card-field > .price.price2  > .currency_label
{
	font-size: 1.2em;
	font-weight: 100;
	margin: 0 5px;
}
.landing-card-field.navlink0,
.landing-card-field.navlink1,
.landing-card-field.navlink2,
.landing-card-field.navlink3,
.landing-card-field.navlink4
{
	justify-content: stretch;
}
.landing-card-field .navlink 
{
	align-items: stretch;
    justify-content: center;
    display: flex;
	width:100%;
}
.landing-card-field.check0
{
	align-items: start;
	padding-left:50px; 
}
.landing-card-field .checklabel
{
	width:100%;
}
.landing-card-field .checklabel > .single-feature
{
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%;
	padding:5px 0;
	border-bottom:1px solid #99999977;
}
.landing-card-field .checklabel > .single-feature > .check-sign
{
	flex-grow:1;
	padding-right:10px;
	font-size:1.6em;
}
.landing-card-field .checklabel > .single-feature > .check-label
{
	flex-grow:100;
	text-align: left;
	margin-right: 10px;
	margin-top:2px;
	margin-bottom:2px;
}

.landong-card-type-popup
{
	display:flex;
	flex-direction: column;
	flex-grow: 100;
    position: absolute;
    background-color: #EEE; 
	border:1px solid #00000020;
    z-index: 100;
    width: 345px;
    left: 39px;
	-webkit-box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 1px 3px 3px 1px rgba(0,0,0,0.2);
}
.landing-card-field-example
{
	display: flex;
    flex-direction: column;
    padding: 0 30px 0 40px;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.landing-card-type-section
{
	display:flex;
}
.landing-card-after
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 0;
	background: #000;
}
.landing-inner-link
{
	width:100%;
	height:100%;
	display:flex;
}
.landing-fload
{	
    display: flex;
    align-items: center;
	z-index:3;
}
.landing-fload.edit
{
	outline: 3px dotted #FF0000; 
}
.landing-hhandler
{
	position: relative;
    position: absolute;
    top: 50%;
    left: -4px;
    right: auto;
    width: 8px;
    height: 50px;
    margin-top: -50px;
    background: red;
    cursor: pointer;
	cursor: ew-resize;
    z-index: 40;
}
.landing-hhandler.right
{
	right:-4px;
	left:auto;
}
.landing-hhandler::active
{
	cursor: ew-resize;
}
.hover-transform
{
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.landing-card:hover .hover-transform
{
	transform: translateX( -5% ) translateY(-5% ) scale( 1.1 );

}
.landing-mask-loaded
{
	position:relative;
	max-width:100%;
	max-height:100%;
	background-color:#00000022;
	border: 1px solid #00000033;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}

.top-left
{
	position:absolute;
	bottom:auto;
	top:0;
	left:0;
	right:auto;
}
.top-right
{
	position:absolute;
	bottom:auto;
	top:0;
	left:auto;
	right:0;
}
.bottom-right
{
	position:absolute;
	bottom:0;
	top:auto;
	left:auto;
	right:0;
}
.botton-right-button
{
	position:absolute;
	bottom:0;
	right:0;
	width:0;
	height:0;
	border:8px solid transparent;
	border-bottom-color:red;
	border-right-color:red;
	cursor:pointer;
}
.btn-switch
{
	position: absolute;
    margin-left: -20px;
    margin-top: 40px;
    z-index: 3;
}
.btn-switch-vert
{
	left: 60px;
	margin-top: -15px;
}
.btn-card-fields-switch
{
	position: absolute;
    z-index: 100;
    left: 50%;
    top: -10px;
}
.float-draw-info
{
	position:absolute;
	bottom:0;
	right:-125px;
	font-size: 10px;
	font-weight:bold
}

.float-draw-info > div
{
	display: flex;
	border:1px solid #000000EE;
	margin:1px;
	
}
.float-draw-info > div > span
{
	padding:2px 5px;
	background-color:#111;
	color:#FFF;
	width:20px;
	text-align:center;
}
.float-draw-info .dat,
.float-draw-info .prst
{ 
	background-color:#EEE;
	color:#111;
	padding: 2px 5px;
	width:40px;
	position:relative;
	cursor:pointer;
}
.float-draw-info .dat.active,
.float-draw-info .prst.active
{
	background-color:#db3737EE;
	color:#FFF;
}
.float-btns
{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.landing-archors-menu
{
	display: flex;
	justify-content: center;
}
.landing-archors-menu.fixed
{
	position:fixed;
	top:0;
	left:0;
	z-index:40;
}
.landing-archors-menu-cont
{
	display:flex;
	overflow-x:auto;
	overflow-y:hidden;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-ms-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
}

.landing-archors-menu .menu-button
{
	height:60px;
	padding:5px 20px;
	background:transparent;
	display:inline-flex;
	justify-content: center;
	align-items: center;
	color:#AAA;
	cursor:pointer;
	white-space: nowrap;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.landing-archors-menu .menu-button:hover,
.landing-archors-menu .menu-button.active
{
	background-color:#00000088;
	color:#FFF!important;
	text-decoration:none!important;
}
.landing-archors-menu .hamburger
{
	margin-top:auto;
	margin-bottom:auto;
	margin-left:auto;
	margin-right:auto;
}
.landind-arhor-menu-title
{
	display:flex;
	cursor:pointer;
    justify-content: center;
    align-items: center;
	padding-right: 20px;
}
.landind-arhor-menu-title img
{
	height:50px;	
    align-self: center;
}
.archor-menu
{
	color:#111;
}
.landing-contact-form
{
	max-width: 800px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
}
.landing-contact-form .title,
.landing-contact-form .description
{
	text-align : center;
}
.landing-contact-form .req_input
{
	position : relative;
}
.landing-contact-form .req_input.required span.req
{
	position: absolute;
	bottom: 0px;
	right: 0;
	height: 16px;
	color:#FF0000; 
	font-size:12px;
	padding:1px 10px 3px 10px;
	pointer-events: none;
}
.cf-message
{
	display: inline-flex;
    justify-self: center;
    align-self: center; 
    margin: 0 auto;
    text-align: right;
	font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
	max-width: 800px;	
    background-color: #b3aeae;
    padding: 20px;
}
.card-linker
{
	position: absolute;
    bottom: 10px;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}
.card-linker > .btn
{ 
	background-color: #4a4758;
	color:#EEE!important;
}
.landing-playlist-container
{
	display:flex;
	flex-direction: row;
	align-items: stretch;
	
}
.landing-playlist-container > .landing-playlist-video
{
	width:100%;
}
.landing-playlist-container > .landing-playlist-list
{
	width:100%;
	display:flex;
	flex-direction:column;
	overflow-y:scroll;
	overflow-y:auto;
	background-color:#44444499;
}
.no-scroll
{
	scrollbar-width: 0;

}
.no-scroll::-webkit-scrollbar 
{
	width:0;
	height:0;
}
/* Works on Firefox */
.landing-playlist-container > .landing-playlist-list
{
	scrollbar-width: thin;
	scrollbar-color:  #EEE transparent;
}

/* Works on Chrome, Edge, and Safari */
.landing-playlist-container > .landing-playlist-list::-webkit-scrollbar 
{
	width: 5px;
}
.landing-playlist-container > .landing-playlist-list::-webkit-scrollbar-track 
{
	background: transparent;
}
.landing-playlist-container > .landing-playlist-list::-webkit-scrollbar-thumb 
{
	background-color: #EEE;
	border-radius: 5px;
}


.landing-playlist-container > .landing-playlist-list .landing-playlist-group-button
{
	width:100%;
	padding:20px 30px 20px 90px;
	color:#EEE; 
	border-bottom:1px dotted #FFFFFF20;
	font-weight: 900;
	position:relative;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-group-button .landing-group-thumb
{
	width: 75px;
    height: 100%;
    background-size: cover;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button
{
	width:100%;
	padding:20px 30px;
	color:#EEE;
	cursor:pointer;
	border-bottom:1px dotted #FFFFFF20;
	opacity:0.75;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button.current
{
	background-color:#111111;
	color:#FFF;
	position:relative;
	opacity:1;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button.current:before
{
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-left-color: #EEE;
    margin-top: -6px;
    top: 50%;
    left: 0;
    width: 0;
    left: 0;
    z-index: 2;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button.current:after
{
    content: "";
    position: absolute;
    border: 17px solid transparent;
    border-left-color: #333;
    margin-top: -11px;
    top: 50%;
    left: 0;
    width: 0;
    left: 0;
    z-index: 1;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button-descr
{
	margin:5px 0 0 10px;
	font-size: 0.8rem;
	opacity:0.7;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button.title
{
	background-color:#111111FF;
	color:#FFF;
	padding:10px 30px;
	font-size:1.4rem;
	cursor:auto;
}
.landing-playlist-container > .landing-playlist-list .landing-playlist-button.title > span.comment
{	
	font-size: .7rem;
    display: block;
    margin-top: 20px;
    padding: 0;
}
iframe
{
	clip-path: unset!important;
}
.landing-video-thumbnail
{
	cursor:pointer;
	background-size:cover;
	background-position: center; 
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	clip-path: unset!important;
	position:relative;
}
.landing-video-thumbnail:hover
{
	opacity:1;
}
.landing-video-thumbnail.muar::before,
.landing-image.muar::before
{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	background: linear-gradient(to bottom, #00000012 0%, #00000012 58%, #000000bf 95%);
}
.landing-video-player-default-thumb
{
	width: 90px;
    height: 65px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    float: right;
    border: 1px solid #777;
}
.landing-video-thumbnail .lvt-title 
{
	margin: 12px auto;
	z-index:10;
}
.landing-video-thumbnail .lvt-title > span
{
	color:#EEE;
	background-color:#000;
	padding:15px 17px;
	text-align:center;
	-webkit-border-radius:5px;
	border-radius:5px;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.landing-video-thumbnail:hover .lvt-title > span
{
	background-color:#550000;
}
.landing-video-title
{
	padding:2px;
	background-color:#000000DD;
	color:#FFF;
	text-align:center;
	z-index:10;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.landing-video-thumbnail:hover .landing-video-title
{
	background-color:#000000;
}
.landing-playlist-author-name
{
	font-size:0.75rem;
	opacity:0.7;
}
.cf-variant
{
	display:flex;
	flex-direction:column;
	padding:7px;
	border-bottom:1px dotted #00000020;
}
.landing-matchings
{
	
}
.landing-matching-single
{
	display:flex; 
	justify-content:center;
	align-items:center;
	padding-top:20px;
	padding-bottom:20px;
    width: 100%;
}
.landing-matching-content
{
	display:flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}
.landing-matching-title,
.landing-matching-descr
{
	font-size:1.4rem;
	font-weight:bold; 
	margin: 2px; 
}
.landing-matching-descr
{
	font-size:1.0rem;
	margin-bottom:17px;
}
.landing-matchings-title
{
	margin:20px 0;
	font-size:1.7rem;
}
.landing-match-single-result-title
{
	margin-bottom:5px;
}
.landing-match-single-result-description
{
	font-weight: normal;
	font-style: italic;
}
.landing-matchings-thumbnail-cont
{
	height:300px;
	width: 100%;	
    max-width: 100%; 
	overflow:hidden;
	position:relative;
	background-color: #1c1c1c7d;
}
.landing-matchings-thumbnail
{
	position:absolute;
	top:0;
	left:0;
	width: 100%;	
    max-width: 100%;
	height: 100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;

}
.landing-matching-image
{
	height:200px;
	width:auto;	
    max-width: 100%;
}
.landing-matching-answer-single
{
	width:100%;
}
.landing-matching-your-results
{
	width:300px;
	display: flex;
}
.landing-matching-your-answer,
.landing-matching-your-right
{
	display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;	 
	font-weight: 300;
}
.landing-matching-answer-media
{
	display:flex;
	justify-content:center;
}
.landing-matching-answers
{ 
    display: flex;
	flex-direction:row;
	width: 100%;
}
.landing-matching-answer-title
{
	padding:10px;
	display: flex; 
    font-size: 1.1rem;
    font-weight: 700;
}
.landing-matching-answer-title input[type=radio]
{
	margin-right: 20px!important;
    margin-top: 5px!important;
    margin-left: 20px;
}
.landing-matching-answer-title input[type=radio]::before
{
	content: "\f00c"!important;
	display: inline-flex!important;
    justify-content: center;
    align-items: center;
    width: 40px!important;
    height: 40px!important;
	font-size: 14px!important;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-left: -10px!important;
    margin-top: -10px!important;
}
.landing-matching-answer-descr
{
	margin:10px 0;
	font-style: italic;
	padding:10px; 
    font-size: 1.2em;
    letter-spacing: 2px;
}
.landing-matching-answer-image
{
	height:170px;
	width:auto;
}
.landing-matching-result-img
{
	height:100px;
	width:auto;
	margin:2px;
	background-size:cover;
	width:100px;
	margin:0 10px;
}
.landing-matchings-next-cont
{
	display:flex; 
	justify-content:center; 
}
.landing-matching-answer-content label
{
	margin:0;
	cursor:pointer;
	opacity:0.8;
}
.landing-matching-answer-content label:hover
{
	opacity:1;
}
.landing-matching-btn
{
	padding: 5px 20px;
    background: #444;
    color: #EEE;
    opacity: 0.9;
    display: inline-block;
    cursor: pointer;
}
.landing-matching-btn:hover
{
	background:#111;
	opacity:1;	
}
.landing-matchings-finish
{
	min-height: 350px;
	display:flex;
	flex-direction:column;
	width:100%;
	justify-content:center;
	align-items:center;
}
.landing-matchings-finish-label
{
	max-width: 600px;
    font-size: 1.5rem;
    text-align: center;
	padding-top:35px;
}
.landing-match-single-result
{
	font-weight: bold;
	align-items: center;
	display: flex;
	flex-direction:row;
	color: #f8f9fa;
}
.landing-matching-result-title
{
	padding: 10px 10px 10px 35px;
}
.landing-matching-single-result-title
{
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 1.25rem;
	padding:0 25px;
}
.landing-matching-result-sing
{
	display:flex; 
}

.landing-zoom-pan-pinch
{
	position:relative;
}
.landing-zoom-pan-pinch .tools
{
	position: absolute;
    z-index: 100;
	right:0;
}
.landing-zoom-pan-pinch .tools button
{
	background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 3px;
	cursor:pointer;
	opacity:0.7;
}
.landing-zoom-pan-pinch .tools button:hover
{
	opacity:1;
}
.landing-yandex-map-marker-oval
{
	display:flex;
	justify-content:center;
	align-items:center;
	-webkit-border-radius:100%;
	border-radius:100%;
}
.landing-cfIcon-conttainer
{
	position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
}
.landing-cfIcon,
.landing-to-up
{
	width: 70px;
    height: 70px;
	margin:1px;
	background-image: url(../img/minimal/contactFormIcon.svg);
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: #00000055;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.landing-to-up
{ 
	/*background-image: none;*/
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.show-to-top
{
	opacity:1;
}
.hide-to-top
{
	opacity:0;
}


.landing-cfIcon:hover,
.landing-to-up:hover
{
    background-size: 75%;
    background-color: #000000DD;
}
.landing-hr,
.landing-hr-light
{
	position:relative;
}
.landing-hr:before,
.landing-hr-light:before
{
	content:"";
	position:absolute;
	top:0;
	left:50%;
	width:450px;
	height:1px;
	background-color:#111;
	margin-left:-225px;
	z-index:2;
}
.landing-hr-light:before
{ 
	background-color:#FFF; 
}
.landing-lasy-load-type-edit-cont
{
	width:100%;
	display:flex;
}
.landing-accordeon
{
	
}
.landing-accordeon-button
{
	cursor:pointer;
	padding:20px 30px;
	background-color:#ffffff10;
	color:#111;
	font-size:1.3rem;
	font-weight:900;	
    display: flex;
    justify-content: space-between;
}
.landing-accordeon-button:hover
{
	background-color:#ffffff00;
}
.landing-accordeon-section
{
	background: #ffffff20;
	border-bottom: 1px solid #00000060;
}

.landing-accordeon-button.dark
{
	background-color:#00000010;
	color:#FFF;
}
.landing-accordeon-button.dark:hover
{
	background-color:#00000060;
}
.landing-accordeon-section.dark
{
	background: #00000020;
	border-bottom: 1px solid #00000060;
}

.landing-accordeon-button.black
{
	background-color:#000000;
	color:#DDD;
}
.landing-accordeon-button.black:hover
{
	color:#FFF;
}
.landing-accordeon-section.black
{
	background: #000000;
	border-bottom: 1px solid #FFFFFF60;
}
.landing-accordeon-sign
{
	color:#888;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.open > .landing-accordeon-button > .landing-accordeon-sign
{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.layout-content a
{
	text-decoration:none!important;
	
}
.landing-card-field .lvt 
{
    position: absolute;
    bottom: 2px;
    color: #FFF;
    background:#11111190;
    padding: 5px 9px;
	z-index:110;
}
.landing-card:hover .lvt
{
	background:#d30f00;
}
.landing-outer-link 
{
	justify-self: self-start;
    align-self: self-start;
	width:100%;
}
.btn-tarnsparent-dark, 
.btn-transparent-light 
{
    color: #fff!important;
    background-color: #00000000;
    border-color: #00000000;
}
.btn-tarnsparent-dark:hover,
.btn-tarnsparent-dark
{
	color: #111!important;
} 
.btn-tarnsparent-light:hover 
{
    color: #fff!important;
    background-color: #00000030;
    border-color: #00000060;
}
.btn-warning:hover
{
	color: #000!important;
}
.btn-warning
{
	color: #000000EE!important;
}
.btn-white
{
	color: #000000EE!important;
    background-color: #FFFFFFEE;
    border-color: #FFF;
}
.btn-white:hover
{
	color: #000!important;
    background-color: #FFF;
    border-color: #FFF;
}
.btn-danger,
.btn-primary,
.btn-secondary,
.btn-dark,
.btn-success
{
	color: #ffffffEE!important;
}
.btn-danger:hover,
.btn-primary:hover,
.btn-secondary:hover,
.btn-dark:hover,
.btn-success:hover
{
	color: #ffffff!important;
}
.btn-card-single-field
{
	min-width: 100%;
    height: auto!important;
    margin: 1px!important; 
	text-align:center;
    min-height: 34px;
	flex-direction:row!important;
	overflow:hidden;
}
.landing-card-field.personal_links0 .lcard-pl,
.landing-card-field.personal_links1 .lcard-pl,
.landing-card-field.personal_links2 .lcard-pl,
.landing-card-field.personal_links3 .lcard-pl,
.landing-card-field.personal_links4 .lcard-pl,
.landing-card-field.personal_links5 .lcard-pl,
.lcfpl
{
	margin:1px;
	font-size:14px;
	width:24px;
	height:24px;
	display:flex;
	justify-content:center;
	align-items:center;
	opacity:0.75;
	-webkit-transition: all 100ms ease-out;
	-moz-transition: all 100ms ease-out;
	-ms-transition: all 100ms ease-out;
	-o-transition: all 100ms ease-out;
	transition: all 100ms ease-out;
}
.landing-card-field.personal_links0 .lcard-pl:hover,
.landing-card-field.personal_links1 .lcard-pl:hover,
.landing-card-field.personal_links2 .lcard-pl:hover,
.landing-card-field.personal_links3 .lcard-pl:hover,
.landing-card-field.personal_links4 .lcard-pl:hover,
.landing-card-field.personal_links5 .lcard-pl:hover
{
	opacity:1;
}
.landing-card-field.personal_links0 .lcard-pl
{ 
	color:#111!important; 
}
.landing-card-field.personal_links1 .lcard-pl,
.lcfpl
{ 
	background-color:#111;
	color:#FFF;
	padding:20px;
	-webkit-border-radius:3px;
	border-radius:3px;
	width:50px;
	height:50px;
	margin:2px;
}
.landing-card-field.personal_links2 .lcard-pl
{ 
	background-color:#111;
	color:#FFF;
	padding:10px;
}
.landing-card-field.personal_links3 .lcard-pl
{
	background-color:#111;
	color:#FFF;
	-webkit-border-radius:100%;
	border-radius:100%;
	font-size: .8em;
}
.landing-card-field.personal_links4 .lcard-pl
{ 
	background-color:#111;
	color:#FFF;
	padding:20px;  
	border-radius:100%;
	width:50px;
	height:50px;
	margin:2px;
}
.landing-card-field.personal_links5 .lcard-pl
{ 
	background-color:#111;
	color:#FFF;
	padding:20px; 
	border-radius:29% 71% 66% 34% / 32% 37% 63% 68% ;
	width:50px;
	height:50px;
	margin:2px;
}

.landing-card:hover .landing-card-field.personal_links1 .lcard-pl,
.landing-card:hover .landing-card-field.personal_links2 .lcard-pl,
.landing-card:hover .landing-card-field.personal_links3 .lcard-pl,
.landing-card:hover .landing-card-field.personal_links4 .lcard-pl,
.landing-card:hover .landing-card-field.personal_links5 .lcard-pl
{
	background-color:#d30f00;
}
.landing-card-field .personal_links
{
	display: flex;
}
.landing-card-field.personal_links1,
.landing-card-field.personal_links2,
.landing-card-field.personal_links3,
.landing-card-field.personal_links4,
.landing-card-field.personal_links5
{
	overflow:hidden;	
    margin-right: auto;
    margin-left: auto;
}
.landing-card-field.personal_links1 .personal_links.plright,
.landing-card-field.personal_links2 .personal_links.plright,
.landing-card-field.personal_links3 .personal_links.plright,
.landing-card-field.personal_links4 .personal_links.plright,
.landing-card-field.personal_links5 .personal_links.plright
{
	left:auto;
	right:-100%;
	transition: all 400ms ease-out;
	position: absolute;
}
.landing-card:hover .personal_links.plright
{
	right:0;
}

.landing-card-field.personal_links1 .personal_links.pldown,
.landing-card-field.personal_links2 .personal_links.pldown,
.landing-card-field.personal_links3 .personal_links.pldown,
.landing-card-field.personal_links4 .personal_links.pldown,
.landing-card-field.personal_links5 .personal_links.pldown
{
	bottom:auto;
	top:-100%;
	transition: all 400ms ease-out;
	position: absolute;
}
.landing-card:hover .personal_links.pldown
{
	top:0;
}
.landing-card-variant_param_2left
{
    position: absolute;

}
.landing-card-field.personal_links1 .personal_links.plleft,
.landing-card-field.personal_links2 .personal_links.plleft,
.landing-card-field.personal_links3 .personal_links.plleft,
.landing-card-field.personal_links4 .personal_links.plleft,
.landing-card-field.personal_links5 .personal_links.plleft
{
	right:0;
	left:-100%;
	transition: all 400ms ease-out;
	position: absolute;
}
.landing-card:hover .personal_links.plleft
{
	left:0;
}
.landing-card-field-single
{
	position: relative;
    cursor: pointer;
    opacity: 0.8;
    background-size: cover;
    background-position: center;
    padding: 14px 0;
	width: 100px;
    max-width: 100px;
	flex: 1 100px;
	display: flex;	
    justify-content: center;
    align-items: center;
	min-width: 100%; 
    margin: 1px!important;
    text-align: center;
    min-height: 34px;
    flex-direction: row!important;
    overflow: hidden;
}
.landing-card-field-single-content
{
	max-height: 60px;
    margin-top: 20px;
    overflow: hidden;
	flex-grow: 100!important;
	flex-direction: column !important;
	color: #fff !important;
	text-align: center;
}

.landing-card-field.personal_links1 .personal_links.plup,
.landing-card-field.personal_links2 .personal_links.plup,
.landing-card-field.personal_links3 .personal_links.plup,
.landing-card-field.personal_links4 .personal_links.plup,
.landing-card-field.personal_links5 .personal_links.plup
{
	top:auto;
	bottom:-100%;
	transition: all 400ms ease-out;
	position: absolute;
}
.landing-card-field-metaphore
{
	position: absolute;
    top: -2px;
    right: 0;
    width: 120px;
    margin-left: -70px;
    height: 13px;
    background-color: #e3e8ec;
    color: #3b3c3d;
    font-size: 10px;
	font-weight:900;
	border-bottom-left-radius: 13px;
	z-index:102;
}
.landing-card:hover .personal_links.plup
{
	bottom:0;
}

.lcfpl
{
	background-color:#111;
	opacity:1;
}
.landing-time-line-dots
{
	display:flex; 
	justify-content: center; 
	position:relative;
}
.landing-time-line-dot
{
	display: flex;
    flex-direction: column;
    position: relative;   
    align-items: center;
	z-index:10;
	justify-content: flex-end;
}
.landing-time-line-dot.reverse:nth-of-type(2n)
{
	flex-direction: column-reverse;
}
.landing-time-top
{
	display: flex;
    flex-direction: column;
	justify-content: flex-end;
	align-items:center;
}
.landing-time-bottom
{
	padding:15px;
}
.landing-time-line-dot.reverse:nth-of-type(2n)	 .landing-time-top,
.landing-time-line-dot.reverse:nth-of-type(2n+1) .landing-time-bottom
{
	display: flex;
    flex-direction: column;
	justify-content: flex-start;
	align-items:center;
}

.landing-time-line-dot.reverse:nth-of-type(2n+1) .landing-time-top,
.landing-time-line-dot.reverse:nth-of-type(2n) 	 .landing-time-bottom
{
    flex-direction: column-reverse;
    justify-content: flex-start; 
	display: flex;
} 
.landing-time-line-dot-icon
{
	width:60px;
	height:60px;
	background-size:cover;
	background-position:center;
	margin:30px;
}
.landing-time-line-dot-dot
{
	position:relative;
}
.landing-time-line-dot-line-left
{
	position: absolute;
    left: -30px;
    top: 100px;
	width: 125px;
	height:10px;
	background-color: #FFF;
}
.landing-time-line-dot-dot:first-of-type .landing-time-line-dot-line-left
{	
	background-color: transparent;
}
.landing-time-line-dot-line-right
{
	position: absolute;
    right: -30px;
    top: 100px;
	width: 125px;
	height:10px;
	background-color: #FFF;
}
.landing-time-line-dot-dot:first-of-type .landing-time-line-dot-line-right
{	
	background-color: transparent;
}

.landing-time-line-dot-title
{ 
	width: 100%;
	text-align: center;
	font-weight:900;
	font-size:1.4rem;
}
.landing-time-line-dot-sub-title
{ 
	width: 100%;
	text-align: center;
	font-weight:900;
	min-height:60px;
	display:flex;
	flex-direction:column;
}
.landing-time-line-dot:nth-of-type(2n) .landing-time-line-dot-sub-title
{
	justify-content: flex-end;
}
.landing-time-line-dot-dot-dot
{
	width	: 180px;
	height	: 180px;
	border	: 5px solid #FFF;
	background-color: #444;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center;
    margin: 20px;
    border-radius: 100%;
	z-index:2;
	display:flex;
	padding:20px;
	justify-content:center;
	align-items:center;
	color:#FFF;
	text-align:center;
	position: relative;
}
.landing-time-line-dot.active .landing-time-line-dot-dot
{
	background: #dc3545;
	border-radius: 100%;
}
.landing-time-line-dot-dot-dot .lvt
{
	background-color: #00000020;
	padding:10px 14px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	z-index:122;
}
.landing-time-line-dot:hover .landing-time-line-dot-dot-dot .lvt
{
	background-color: #FF0000;
}
.landing-time-line-dot-thumb
{
	position:absolute;
	background-size: cover;
	-webkit-border-radius:100%;
	border-radius:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}
.landing-time-line-dot-description
{
	width: 100%;
	text-align: center; 
}
.landing-type-menu-cont
{
	display:flex;
	flex-direction: row;
	flex-grow:1000;
	flex-wrap:wrap;
	align-items: flex-start;
	padding-left: 20px;
}
.landing-type-menu
{
	display:flex;
	flex-direction: column;
	flex-grow:1;
	width:100px;
    min-width: 100px;
} 
.landing-type-menu .bp3-icon
{
	position: absolute;
    right: 3px;
}
.landing-type-menu button
{
	height:70px;
	display:flex;
	align-items: center;
}
.spile-img
{
	margin-top:220px;
}

.z-index-100
{
	z-index:100;
}
.z-index-200
{
	z-index:200;
}
.z-index-300
{
	z-index:300;
}
.scale-60
{
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}
.edit-btn-cont
{
	position:absolute!important;
	z-index:1000;
	right:0;
	top:0;
}
.edit-btn
{	
	width:27px;
	height: 27px;
	opacity:.5;
	display:flex;
	justify-content: center;
	align-items: center;
}
.edit-btn:hover
{
	background-color: #db3737;
	color:#FFF;
	opacity:1;
}
.tripped:nth-of-type(2n),
.bg-tripp
{
	background-color:#00000010;
}
.tripped:nth-of-type(2n+1)
{
	background-color:#FFFFFF10;
}

.drawer
{
	max-width:700px;	
}
.landing-layers
{
	position:relative;
}
.landing-layer-section
{
	position:absolute;
	top:0;
	left:0;
	width:1005;
	height:100%;
}
.landing-mask-container
{
	top:0;
}
.landing-svg-lib-container
{
	padding:30px 0;	
	display:flex;	
	width:100%;
}
.landing-svg-lib-example
{
	height: 120px;
	width:100%;
	border: 1px solid #00000033;
	background-size:cover;
	background-position:center;
	background-color:#AAA;	
    display: flex;
    padding: 8px;
}
.landing-palette-edit-pin
{
    position: absolute;
    top: -15px;
    left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #FF0000;
    border: 3px solid #000;
    cursor: pointer;
    z-index: 1000;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.landing-palette-edit-pin:hover
{
	top: -20px;
    left: -12px;
	width: 25px;
    height: 25px;
}
.landing-palette-edit-pin::before
{
	content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 3px;
    height: 11px;
    background-color: #000;
    transform: rotate(-35deg);
	-webkit-transition: all 0ms ease-out;
	-moz-transition: all 0ms ease-out;
	-ms-transition: all 0ms ease-out;
	-o-transition: all 0ms ease-out;
	transition: all 0ms ease-out;
	transition-delay: 300ms;

}
.landing-palette-edit-pin:hover::before
{
	opacity:0;
	transition-delay: 0ms;
}
.landing-palette-color-example
{
	width:100%;
	height:15px;
	position:relative;
}
.landing-hover-menu
{
	color:#44444477;
	padding:12px;
	display:flex;
	align-items: center;
    height: 100%;
}
.landing-hover-menu:hover,
.landing-hover-menu:active
{
	color:rgb(218, 22, 64);
}
.landing-iframe
{
	width:100%;
	height:100%;
	overflow:hidden;
	margin-top:0;
	margin: -2px;
    width: calc(100% + 4px)!important;
}
.landing-iframe > iframe
{
	width:100%;
	height:100%;
}
.clapan-left-260
{
	padding-left: 260px;
}
.landing-image-descr-container
{
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 11px;
    background-color: #0000009e;
    color: #FFF;
    text-align: center;
	z-index:10;
}
.landing-image-descr-title
{
	font-size: 1.1em;
	font-weight: bold;
	padding-bottom: .6em;
}
.landing-image-descr
{
	font-size: 0.8em;
	font-weight: 100;
}

@media (min-width: 1920px)
{
	.landing-video-thumbnail
	{
		background-position:top center; 
		background-size: 800px;
		background-repeat: no-repeat;
	}
}
@media (min-width: 1020px)
{	
	.landing-matchings-thumbnail
	{ 
		background-size: 800px;
		background-repeat: no-repeat;
	}
}
@media (max-width: 760px)
{
	.lacol-0 .l-col,
	.lacol-1 .l-col,
	.lacol-2 .l-col,
	.lacol-3 .l-col,
	.lacol-4 .l-col,
	.lacol-5 .l-col,
	.lacol-6 .l-col,
	.lacol-7 .l-col,
	.lacol-8 .l-col,
	.lacol-9 .l-col,
	.lacol-10 .l-col,
	.lacol-11 .l-col,
	.lacol-12 .l-col,
	.lacol-13 .l-col
	{
		width:50%;
	}
	.landing-single-column
	{
		width:100%!important;
	}
	.landing-playlist-container
	{
		flex-direction:column;
	}
	.drawer
	{
		max-width:100%;	
	}
	.landing-video
	{
		min-width:200px;
		max-width: 100%;
	}
}
@media (max-width: 540px)
{
	.landing-container__horisontal, 
	.landing-container__vertical 
	{
		flex-direction:column;
	}
	.landing-container__horisontal_reverse, 
	.landing-container__vertical_reverse
	{
		flex-direction:column-reverse;
	}
	.landing-title-descr
	{
		min-height: auto;
	}
	.landing-card
	{
		height: auto!important;
	}
	
	.lacol-0 .l-col,
	.lacol-1 .l-col,
	.lacol-2 .l-col,
	.lacol-3 .l-col,
	.lacol-4 .l-col,
	.lacol-5 .l-col,
	.lacol-6 .l-col,
	.lacol-7 .l-col,
	.lacol-8 .l-col,
	.lacol-9 .l-col,
	.lacol-10 .l-col,
	.lacol-11 .l-col,
	.lacol-12 .l-col,
	.lacol-13 .l-col
	{
		width:100%;
	}
	.landing-social-likes
	{
		flex-wrap: wrap;
	}
	.landing-single-column
	{
		width:100%!important;
	}
	.landing-playlist-container
	{
		flex-direction:column;
	}
	.landing-matching-answers
	{
		flex-direction:column;
	}
	.landing-matching-answers .landing-matching-answer-title 
	{
		text-align:left!important;
	}
	.landing-match-single-result
	{
		flex-direction:column;
	}
	.landing-matching-your-answer
	{
		flex-direction:column;
		padding: 0 25px; 
	}
	.landing-matching-single-result-title
	{
		text-align:center;
	}
	.landing-matching-result-sing
	{
		justify-content:center;
	}
	#player
	{
		max-width:100%;
	}
	.landing-title
	{
		font-family: inherit;
		font-size: 1.2rem;
		font-weight:bold;		
		text-align: center;
	}
	.landing-description 
	{
		text-align: center;
	}
	.landing-cfIcon, 
	.landing-to-up
	{
		width: 40px;
		height: 40px;
	}
	.landing-playlist-list
	{
		height:auto!important;
	}
	.landing-time-line-dots { 
		flex-direction: column;
	}
	.landing-time-line-dot { 
		padding:20px;
		align-items: self-start;
		flex-direction: column!important;
		max-width:100%;
	}
	.landing-time-line-dot:after {
		width: 10px;
		height: 50%;
		left: 65px;
		right: auto;
		top: auto;
		bottom: 0;
	}
	.landing-time-line-dot:before { 
		width: 10px;
		height: 50%;
		left: 65px;
		right: auto;
		top: 0;
		bottom: auto;
	}
	.landing-time-line-dot-title { 
		width: auto;
		text-align: center;
	}
	.landing-time-line-dot-description {
		width: auto;
		top: 100px;
		text-align: center;
	}
	.landing-time-line-dots > svg 
	{
		display:none;
	}
	.drawer
	{
		max-width:100%;	
	}
	.landing-include-section
	{
		width:100%!important;

	}
	.clapan-left-260
	{
		padding-left:0;
	}
}
